* {
    box-sizing: border-box;
}

.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 400px;
    /* for alignment */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    justify-content: center;

    /* spaces between elements are equal */
    /* justify-content: space-between; */

    /* space around elements are equal */
    /* justify-content: space-around; */

    /* space between elements are even */
    /* justify-content: space-evenly; */

    /* default */
    /* align-items: stretch; */
    
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;

    align-content: center;
}

.container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
    margin-top: 100px;
    height: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    width: 200px;
    font-size: 32px;
    padding: 20px;
}

.box1 {
    background-color: red;
    /* change the order of elements. default value is 0 */
    order: 1;
}
.box2 {
    background-color: orange;
}
.box3 {
    background-color: yellow;
}
.box4 {
    background-color: green;
}
.box5 {
    background-color: blue;
}
.box6 {
    background-color: indigo;
}
